extends layout

block content
  h1= title
  p Welcome to #{title}
  div hello world #{xuwc}
    a(class='button' href='http://www.baidu.com') 百度一下，你就知道
  form(action='/postTest' method='POST').dclass#did
    div
      label 姓名
      input(type='text' name='text1' placeholder='请输入姓名')
    div
      label 密码
      input(type='text' name='text2' placeholder='请输入密码')
    div
      input(type='submit' value='提交')
  h3 文件上传：
  p 选择一个文件上传:
  form(action='/file_upload' method='POST' enctype='multipart/form-data')
    input(type='file' name='image' size='50')
    p
    input(type='submit' value='上传文件')
  p
  table(width="400", border='1' cellspacing="0", cellpadding="0")
    tbody
      tr
        th 登录名
        th 用户名
        th 性别
        th 密码
        th 操作
    tbody
    each user in userList
      tr
        th #{user.loginName}
        th #{user.userName}
        th #{user.sex}
        th #{user.password}
        th
          a(href='/addUser') 添加
          a(href='/updateUser?id=#{user.id}')  编辑
          a(href='/deleteUser?id=#{user.id}')  删除
